.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.2s;
}
.menu.active {
    transform: translateX(0);
}

.blur{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu__content{
    width: 30%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}
.menu__header{
    font-size:  20px;
    padding: 10px;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;

}
ul{
    text-align: center;
}
ul li{
    display: flex;
    align-items: center;
    margin: 10px;
}

