nav{
    height: 50px;
    width: 100%;
    background-color: grey;
    z-index: 70;
    display: flex;
    align-items: center;
}
.btn-burger{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}
.btn-burger:before{
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: yellow;
    height: 2px;
}
.btn-burger span{
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: yellow;
    height: 2px;
}
.btn-burger:after{
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: yellow;
    height: 2px;
}
.test{
    background-color: yellow;
}